p{
    color:red;
    text-align: center;
}

h1{
    color:green;
    text-align: center;
    font-size: 30px;
}

#paragrafo1{ 
    color:aqua
}
#paragrafo2{
    background-color:blueviolet
}